<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
<!-- 
  <mujoco>
    <compiler meshdir="meshes" discardvisual="false" />
  </mujoco> -->



    <material name="white">
        <color rgba="1 1 1 1" />
    </material>

    <xacro:include filename="inertial_macros.xacro"/>

    <!-- <link name="odom"></link> -->

    <link name="base_link"></link>

    <joint name="body_joint" type="fixed">
        <parent link="base_link"/>        
        <child link="body"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="base_footprint"></link>

    <joint name="base_footprint_joint" type="fixed">
        <parent link="base_link"/>
        <child link="base_footprint"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="body">
        <visual>
            <origin xyz="0.1 -0.18 0" rpy="1.57 0 1.57" />
            <geometry>
                <mesh scale="0.1 0.1 0.1" rpy="0 0 1.04" filename="file://$(find shesnar)/meshes/body.obj"/>
            <!-- <cylinder radius="0.20" length="0.12"/> -->
            </geometry>
            <material name="">
                <color rgba="0.1 0.1 0.1 1" />
            </material>            
        </visual>
        <collision>
            <origin xyz="0.1 -0.18 0" rpy="1.57 0 1.57" />
            <geometry>
                 <mesh scale="0.1 0.1 0.1" rpy="0 0 1.04" filename="file://$(find shesnar)/meshes/body_collision.obj"/>
                <!-- <cylinder radius="0.20" length="0.12"/> -->

            </geometry>
        </collision>
        <xacro:inertial_cylinder mass="4.0" length="0.12" radius="0.15">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_cylinder>
    </link>


      <gazebo>
        <!-- <plugin name="gz::sim::systems::OdometryPublisher" filename="gz-sim-odometry-publisher-system">

            <odom_frame>odom</odom_frame>
            <robot_base_frame>base_link</robot_base_frame>
            <odom_publish_frequency>50</odom_publish_frequency>
            <odom_topic>/odom</odom_topic>
            <tf_topic>/tf</tf_topic>

        </plugin> -->

        <plugin name="gz::sim::systems::VelocityControl" filename="gz-sim-velocity-control-system">
        </plugin>

    </gazebo>


</robot>
